*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #121216;
    color: white;
    font-family: cursive;
}

header{
    background-color: #1c1c24;
    height: 70px; 
}
.header-container{
    width: 1200px;
    height: 100%;
    margin: 0 auto; 
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    width: 12%;
    height: 100%; 
}
.logo img{
    width: 100%;
    height: 75%; 
}
.heading{
    display: flex;
    width: 25%;
    padding-left: 1%;
    height: 100%;
    align-items: center;
}
.heading span{
    font-size: 150%;
}